.record {
	list-style: none;
	display: flex;
	color: var(--theme-color-normal);
	justify-content: space-around;
	padding: 0;
	height: 80px;
	align-items: center;
	background-color: white;
	width: 70%;
	max-width: 768px;
	margin: auto;
}

.record-calories {
	color: var(--theme-color-dark);
	font-weight: 400;
}
